@tailwind base;
@tailwind components;
@tailwind utilities;

/* .gradient-01 {
  position: absolute;
  width: 300px;
  height: 500px;
  top: 0px;
  right: 0px;
  background: purple;
  transform: rotate(-45deg);
  filter: blur(200px);
}

.gradient-02 {
  position: absolute;
  width: 240px;
  height: 440px;
  bottom: 0px;
  left: 100px;
  background: teal;
  transform: rotate(21deg);
  filter: blur(200px);
}

.gradient-03 {
  position: absolute;
  width: 100px;
  height: 900px;
  bottom: -300px;
  right: 100px;
  background: slateblue;
  transform: rotate(44deg);
  filter: blur(200px);
} */

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.glassmorphism-base {
  @apply backdrop-blur-xl border-[1px] border-zinc-50 border-opacity-10 shadow-md;
}

.glassmorphism-primary {
  @apply glassmorphism-base bg-opacity-30;
}

.glassmorphism-primary-interactive {
  @apply glassmorphism-primary hover:bg-opacity-20;
}

.glassmorphism-secondary {
  @apply glassmorphism-base bg-opacity-40;
}

.glassmorphism-secondary-interactive {
  @apply glassmorphism-secondary hover:bg-opacity-50;
}

.glassmorphism-tertiary {
  @apply glassmorphism-base bg-opacity-70;
}

.glassmorphism-tertiary-interactive {
  @apply glassmorphism-tertiary hover:bg-opacity-80;
}

.glassmorphism {
  @apply bg-opacity-20 backdrop-blur-xl border-[1px] border-zinc-50 border-opacity-10 shadow-md;
}

.glassmorphism-0-interactive {
  @apply hover:!bg-opacity-30;
}

.glassmorphism-1 {
  @apply !bg-opacity-30;
}

.glassmorphism-1-interactive {
  @apply glassmorphism-1 hover:!bg-opacity-40;
}

.glassmorphism-2 {
  @apply !bg-opacity-40;
}

.glassmorphism-2-interactive {
  @apply glassmorphism-2 hover:!bg-opacity-50;
}

.glassmorphism-3 {
  @apply glassmorphism !bg-opacity-30;
}

.glassmorphism-white {
  @apply glassmorphism bg-zinc-200;
}

.glassmorphism-white-secondary {
  @apply glassmorphism bg-zinc-300 text-zinc-800;
}

.text-primary {
  @apply text-zinc-950;
}

.text-secondary {
  @apply text-zinc-800 font-light;
}

.text-tertiary {
  @apply text-zinc-600 font-extralight;
}

.logo {
  @apply font-bold text-xl;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, #a8edea 0%, #fed6e3 100%);
}

.center {
  @apply justify-center items-center;
}

.header {
  @apply text-4xl my-4 sm:h-4 sm:my-12 md:h-8 md:my-14;
}

.section-main {
  @apply z-10 w-full h-full flex flex-col items-center;
}

.list {
  @apply flex-1 flex flex-col gap-4 center w-full;
}

.carousel-container::after {
  @apply rounded absolute top-0 -right-2 bottom-0 w-1/4 max-w-[80px] pointer-events-none backdrop-blur-2xl;
  mask-image: linear-gradient(to right, transparent, black 70%);
  content: "";
}
